{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% providers_media_js %}
{% block title %} Вход {% endblock %}


{%block style_login%} active {%endblock%}
{% block breadcrumbs %}

{% endblock %}

{% block content %}


{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    <strong>
        <p class="login_error_text">{{ error|escape }}</p>
    </strong>
</div>
{% endfor %}
{% endif %}


{% if user.is_authenticated %}
<div class="alert alert-success">
    <strong>
        <p class="login_error_text">Вы уже вошли в аккаунт</p>
    </strong>
</div>
{% else %}
<div class="login_div">
    <form method='post' action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" placeholder="Логин" name="username"><br>
        <input type="password" placeholder="Пароль" name="password">

        <p class="login_button">
            <button type="submit" class="btn btn-primary  login_button" value="login">Войти</button>
        </p>
        <p class="login_button"><a href="{% url 'catalog:register' %}" class="register_link">
            <button type="button" class="btn btn-primary  login_button" value="login">Регистрация</button>
        </a></p>
        <input type="hidden" name="next" value="{{next}}">
        <a href="{% provider_login_url 'google' %}" class="sign_in_google">
            <img src="{% static 'images/icons/google.png' %}" alt="">
        </a>
    </form>

</div>
<p class='lost_password_link'><a class='lost_password_link' href="{% url 'password_reset'%}">Забыли пароль?</a></p>
{% endif %}


{% endblock content %}