{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%static 'common/css/styles.css'%}">
    <link rel="shortcut icon" href="{% static 'images/icons/icon-site.png' %}">
    <title>{%block title%} {% endblock %}</title>
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'catalog:index' %}">DP</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item {%block style_main%} {%endblock%}">
                    <a class="nav-link" href="{% url 'catalog:index' %}"> Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {%block style_mybooks%} {%endblock%}">
                    <a class="nav-link" href="{% url 'catalog:mybookslist'%}">Мои книги</a>
                </li>
                <li class="nav-item {%block style_about%} {%endblock%}">
                    <a class="nav-link" href="{% url 'catalog:aboutMe'%}">О себе</a>
                </li>
            </ul>

            {% if request.user.is_authenticated %}
            <!--            <img src="{{user.userprofile.avatar.url}}" alt="">-->
                {% if user.is_superuser %}
                <a class="nav-link" href="{% url 'admin:index' %}">{{request.user.get_username|title}}</a>
                {% else %}
                        <a class="nav-link nav-link-username" href="{% url 'catalog:about_user' user.get_username%}">{{request.user.get_username|title }}</a>
                {% endif %}
                <a class="nav-link" href="{% url 'logout' %}?next={{request.path}}">Выйти</a>
            {% else %}
            <a class="nav-link {%block style_register%} {%endblock%}" href="{% url 'catalog:register' %}?next={{request.path}}"> Регистрация</a>
            <a class="nav-link {%block style_login%} {%endblock%}" href="{% url 'login' %}?next={{request.path}}">Войти</a>
            {% endif %}


            <form action="{% url 'catalog:search'%}" class="form-inline my-2 my-lg-0" method="get">
                {% csrf_token %}
                <input name='search' class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Поиск</button>
            </form>
        </div>
    </nav>


    <div class="content">
        {% block content%}
        {% endblock%}
    </div>


    <footer class="footer page-footer font-small blue ">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright
        </div>
        <!-- Copyright -->

    </footer>

</div>
</body>
</html>