a { text-decoration: none;
 color:rgba(255, 255, 255, 0.5)}

a:hover{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.75);
}

* {
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%; 


/*    position: relative;
    
    min-height: 100%;*/
}
/*body {
    height: 100%;
    margin-bottom: 10vh;
}
*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}



.container{

    margin-top: 27px;
}

.content {
    flex: 1 0 auto;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;


    /*height: 82vh;*/
    margin-top: 22px;
    margin-left: 115px;
    margin-right: 110px;
    
}

.social_link:hover{
    opacity: 0.7;
}

.socials_div{padding-left: 239px;}

footer {/*    height: 80px;
    margin-top: -80px;*/flex: 0 0 auto;width: 100%;/* padding-right: 15px; *//* padding-left: 15px; *//* margin-right: auto; *//* margin-left: auto; *//* position: fixed; */bottom: 0;/* width: 1366px; */height: 7vh; /*высота футера будет зависеть от высоты экрана*/background-color: #343a40;}

p{
    text-align: inherit;
    color: black;
}

.about_img_div{}

.about_img{
    height:300px;
    float: left;
}

.social_li{
    display: inline
}

.social {
    height:55px;
}


/* index hmtl */

.book_preview{
    align-content: center;
    height: 350px;
    width: 200px;
    float: left;
    margin-right: 10px;
    /* margin-bottom: 15px; */
}

.book_preview:hover{
      -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.book_preview_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 274px;
    /* float: left; */
}

.book_preview_image:hover{
    /*opacity: 0.7;*/


}

.book_preview_title{
    text-align: center;
}

.book_preview_title:hover{
    opacity: 0.7;
}
