{% extends 'base.html' %}
{% load static%}

<title>{%block title %}О себе {% endblock %}</title>
{%block style_about%}
active
{%endblock%}
{% block content %}
<div class="container">
    <div class="about_me_div">
        <div class="about_img_div">
            <img class='about_img' src="{% static 'images/photos/about.jpg' %}" alt="">
        </div>
        <div class="socials_div">
            <ul>
                <li class="social_li">
                    <a href="https://t.me/Dediluk" target="_blank" class="social_link"><img
                            src="{% static 'images/icons/telegram.svg' %}" alt="telegram"
                            class="social"></a>
                </li>
                <a href="https://github.com/dediluk" target="_blank" class="social_link"><img
                        src="{% static 'images/icons/github.svg' %}" alt="github"
                        class="social"></a>
                </li><a href="https://www.linkedin.com/in/denis-ilyukovich-a02528182/" target="_blank"
                        class="social_link"><img
                    src="{% static 'images/icons/linkedin.svg' %}" alt="linkedin"
                    class="social"></a></li>
            </ul>
        </div>

    </div>
</div>


{% endblock %}
