{% extends 'base.html' %}
{% block title %}
{{book.title}}
{% endblock %}


{% block content %}
<div class="book_details">
    <div class="image_and_button">
        <div class="image_detail_div">
            <img class='book_detail_image' src="{{book.image.url}}" alt="">
        </div>
        {% if not marker %}
        <p class="p_add_to_booklist_link">
            <a href="{% url 'catalog:add_to_booklist' book.title%}" class="">
                <button type="button" class="btn btn-primary register_button">
                    Добавить в Мои книги
                </button>
            </a>
        </p>
        {% else %}
        <p class="p_delete_from_booklist_link">
            <a href="{% url 'catalog:delete_from_booklist' book.title%}" class="">
                <button type="button" class="btn btn-danger register_button"
                        onclick="return confirm('Удалить из Мои книги?');">
                    Удалить из Мои книги
                </button>
            </a>
        </p>
        {% endif %}
        {% if user.is_superuser %}
        <p class="p_delete_from_db">
            <a href="{% url 'catalog:delete_book' book.id %}" class="">
                <button type="button" class="btn btn-danger register_button">
                    Удалить книгу
                </button>
            </a>
        </p>
        {% endif %}
    </div>

    <h4 class="book_detail_title">{{book.title}}</h4>
</div>


{% endblock %}