{%extends 'base.html' %}

{% block title %}
Главная
{% endblock %}
{%block style_main%}
active
{%endblock%}
{% block content %}


{% if context %}
<div class="status_bar">
    <p class="pages_sum">Общее количество страниц: {{sum}}</p>
    <a href="{% url 'catalog:add_book' %}" class="adding_book_link">
        <button type="button" class="btn btn-success adding_book_button">Добавить книгу</button>
    </a>
</div>
{% for item in context %}
<div class="book_preview">
    <a href="{% url 'catalog:book_detail' item.id%}" class="book_preview_link">
        <img class='book_preview_image' src="{{item.image.url}}" alt="">
        <p class="book_preview_title">{{item.title}}</p>
    </a>
</div>

{% endfor %}

{% endif %}

{% endblock %}