{% extends 'base.html' %}
{%block title%} {{user.username|title}} {%endblock%}

{% block content %}
<table>

    <tr>
        <td><p class="p_td">Ник:</p></td>
        <td><p class="p_td">{{user.get_username}}</p></td>
    </tr>
    <tr>
        <td><p class="p_td">Почта:</p></td>
        <td><p class="p_td">{{user.email}}</p></td>
    </tr>
    <tr>
        <td><p class="p_td">Админ:</p></td>
        {% if user.is_staff %}
        <td><p class="p_td">Да</p></td>
        {% else %}
        <td><p class="p_td">Нет</p></td>
        {% endif %}
    </tr>

</table>

{% if request.user == user%}
<a href="{% url 'catalog:edit_profile' %}" class="edit_profile_link">
    <button type="button" class="btn btn-success register_button">
        Редактировать
    </button>
</a>
<a href="{% url 'catalog:change_password' %}" class="edit_profile_link">
    <button type="button" class="btn btn-danger register_button">
         Изменить пароль
    </button>
</a>
{% endif %}
{% endblock %}